/* Your styles here */
body{
    background-color: #E9EDEE;
}


/* HEADER */
header {
    padding: 8px 20px;
    background-color: #222F3F;
}

.logo{
    height: 35px;
}

.header-cont{
width: 100%;
}


.sub-header{
    background-color: #35475A;
    width: 100%;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 8px 20px;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: inherit;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.font-white{
    color: white;
}

/* GIFT SECTION */

.main-cont{
    width: 98%;
    margin: 30px auto 20px auto;
}

.gift-cont{
    margin-bottom: 30px;
}

.gift-button{
    background-color: #F56600;
    width: 100%;
    border: none;
    padding: 8px;
}

.gift-guide{
    background-image: url(../images/bg-image.png);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

.text-center{
    text-align: center;
}

.gift-title{
    font-size: 30px;
    font-weight: 550;
}

.p-top{
    padding-top: 82px;
    padding-bottom: 20px;
}

.gift-sub-title{
    font-weight: 550;
    padding-bottom: 40px;
}

/* GIFT IMAGE SECTION*/
.gift-image-cont{
    background-color: white;
    padding: 15px 20px;;
    margin-bottom: 30px;
}

.image-title{
    display: inline-block;
    font-weight: 550;
    padding: 0 10px;
    margin-bottom: 8px;
}

.shop-button{
    border: none;
    background-color: white;
    color: #0B4B50;
    font-weight: 700;
}

.img-size{
    width: 23.3%;
    height: 400px;
    padding: 0 10px 0;
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

/* PROD SECTION */
.prod-section{
    margin-bottom: 30px;
}
.prod-desc{
    padding-top: 8px;
    padding-bottom: 15px;
}
.img-prod{
    width: 100%
}

.shop-buttonvdue{
    border: none;
    background-color: #E9EDEE;
    color: #0B4B50;
    font-weight: 700;
}
